<div class="jumbotron">
  <h2><%= gettext "%{name}!", name: "Slept In" %></h2>
  <p class="lead">A sleeptracker which<br />is built using a ESP8266, some sensors,<br />
      MQTT and the Phoenix Framework.</p>


  <br>
  <div align="center">
    <h4>Latest BPM value: </h4>
    <p id="latest_bpm">undefined</p>
  </div>



  <select id="sensor_select">
    <option value="sensor02" selected>Sensor 02
    </option>
    <option value="sensor01">Sensor 01
    </option>
  </select>

  <select id="timerange_select">
    <option value="300">Last 5 Minutes
    </option>
  <option value="1800">Last 30 Minutes
      </option>
    <option value="3600" selected>Last Hour
      </option>
    <option value="86400"> Last Day
      </option>
  </select>

  <h3 id="status"></h3>



  <canvas id="BPMChart" width="400" height="300"></canvas>
  <canvas id="AccelChart" width="400" height="300"></canvas>
  <canvas id="AngularChart" width="400" height="300"></canvas>


<script>

let data_bpm = <%= raw Poison.encode!(@data_bpm) %>;

y_data_bpm = data_bpm.map(x => x.bpm);
x_data_bpm = data_bpm.map(x => x.time);


document.getElementById('latest_bpm').innerHTML = y_data_bpm[0];


var ctx = document.getElementById("BPMChart").getContext('2d');
var BPMChart = new Chart(ctx, {
    type: 'line',
    data: {
    labels: x_data_bpm,
    datasets: [{
        data: y_data_bpm,
        cubicInterpolationMode: "monotone",
        label: "BPM",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
    options:
    {
        scales: {
          xAxes: [{
            type: 'time',
            time: {
              minUnit: 'second',
              tooltipFormat: 'HH:mm:ss',
              displayFormats: {
                second: 'H:mm',
                minute: 'H:mm',
                hour: 'H:mm',
                day: 'MMM D'
              }
            }
          }],
          yAxes: [{
                  display: true,
                  ticks: {
                      min: 30,
                      steps: 10,
                      stepValue: 5
                      //max: 100
                  }
              }]
        }
      }
});

let data_lin = <%= raw Poison.encode!(@data_lin) %>
y_data_lin = data_lin.map(x => x.lin_acc);
x_data_lin = data_lin.map(x => x.time);

var ctx = document.getElementById("AccelChart").getContext('2d');
var AccelChart = new Chart(ctx, {
    type: 'line',
    data: {
    labels: x_data_lin,
    datasets: [{
        data: y_data_lin,
        label: "Linear Acceleration",
        cubicInterpolationMode: "monotone",
        borderColor: "#8e5ea2",
        fill: false
      }
    ]
  },
  options:
  {
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            minUnit: 'second',
            tooltipFormat: 'HH:mm:ss',
            displayFormats: {
              minute: 'H:mm',
              hour: 'H:mm',
              day: 'MMM D'
            }
          }
        }],
        yAxes: [{
                display: true
            }]
      }
    }
});

let data_ang = <%= raw Poison.encode!(@data_ang) %>
y_data_ang = data_ang.map(x => x.angular_change);
x_data_ang = data_ang.map(x => x.time);

var ctx = document.getElementById("AngularChart").getContext('2d');
var AngularChart = new Chart(ctx, {
    type: 'line',
    data: {
    labels: x_data_ang,
    datasets: [{
        data: y_data_ang,
        label: "Angular Change",
        cubicInterpolationMode: "monotone",
        borderColor: "#3cba9f",
        fill: false
      }
    ]
  },
  options:
  {
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            minUnit: 'second',
            tooltipFormat: 'HH:mm:ss',
            displayFormats: {
              minute: 'H:mm',
              hour: 'H:mm',
              day: 'MMM D'
            }
          }
        }],
        yAxes: [{
                display: true
            }]
      }
    }
});

</script>

  <br>
  <!-- Channel Log -->
  <!-- <div id="messages" align="left"></div> -->
  <!-- <ul id='messages' class='row' style='list-style: none; min-height:200px; padding: 10px; text-align: left;'></ul> -->


  <!-- <div class="col-xs-12">
    <input type="text" id="chat-input" class="form-control" placeholder="manual input">
  </div> -->
  <br>
  <div class="col-xs-12">
    <a href="https://gitlab.com/SMEAGOL18-SleepTracker/" target="_blank">https://gitlab.com/SMEAGOL18-SleepTracker/</a>
  </div>
</div>
