<h2>Listing Trackers</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Misc</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for tracker <- @trackers do %>
    <tr>
      <td><%= tracker.name %></td>
      <td><%= tracker.misc %></td>

      <td class="text-right">
        <span><%= link "Show", to: tracker_path(@conn, :show, tracker), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: tracker_path(@conn, :edit, tracker), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: tracker_path(@conn, :delete, tracker), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Tracker", to: tracker_path(@conn, :new) %></span>
